{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a class="share-link" href="{% url "blog:post_share" post.id %}">
            Share this post
        </a>
    </p>
    

    <div class="comments-box">
        {% with comments.count as total_comments %}
            <h2>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
                </p>
                {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p class="no-comments">No comments yet.</p>
        {% endfor %}
    </div>

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-row">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="field-errors">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}